<!-- Sidebar -->
<div class="sidebar sidebar-style-2" data-background-color="dark2">
  <div class="sidebar-wrapper scrollbar scrollbar-inner">
    <div class="sidebar-content">
      {% if current_user.is_authenticated %}
      <div class="user">
        <div class="avatar-sm float-left mr-2">
          <img
            src="/static/assets/img/profile.jpg"
            alt="..."
            class="avatar-img rounded-circle"
          />
        </div>
        <div class="info">
          <a
            data-toggle="collapse"
            href="#collapseExample"
            aria-expanded="true"
          >
            <span>
              {{ current_user.username }}
              <span class="user-level"> {{ current_user.email }} </span>
              <span class="caret"></span>
            </span>
          </a>
          <div class="clearfix"></div>

          <div class="collapse in" id="collapseExample">
            <ul class="nav">
              <li>
                <a href="#profile">
                  <span class="link-collapse">My Profile</span>
                </a>
              </li>
              <li>
                <a href="{{ url_for('authentication_blueprint.logout') }}">
                  <span class="link-collapse">Logout</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <ul class="nav nav-primary">
        <li class="nav-item {% if 'index' in segment %} active {% endif %}">
          <a
            data-toggle="collapse"
            href="#dashboard"
            class="collapsed"
            aria-expanded="false"
          >
            <i class="fas fa-align-left"></i>
            <p>Overview</p>
            <span class="caret"></span>
          </a>
          <div
            class="collapse {% if 'index' in segment %} show {% endif %}"
            id="dashboard"
          >
            <ul class="nav nav-collapse">
              <li>
                <a href="/index.html">
                  <span class="sub-item">Overview</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-section">
          <span class="sidebar-mini-icon">
            <i class="fa fa-ellipsis-h"></i>
          </span>
          <h4 class="text-section">MENU</h4>
        </li>
        <li class="nav-item {% if 'ui-' in segment %} active {% endif %}">
          <a data-toggle="collapse" href="#gateway">
            <i class="fas fa-share-alt-square"></i>
            <p>Gateway</p>
            <span class="caret"></span>
          </a>
          <div
            class="collapse {% if 'ui-' in segment %} show {% endif %}"
            id="gateway"
          >
            <ul class="nav nav-collapse">
              <li
                class="{% if 'ui-gatewayinfo' in segment %} active {% endif %}"
              >
                <a href="/ui-gatewayinfo.html">
                  <span class="sub-item">Information</span>
                </a>
              </li>
              <li
                class="{% if 'ui-gatewayconfig' in segment %} active {% endif %}"
              >
                <a href="/ui-gatewayconfig.html">
                  <span class="sub-item">Configuration</span>
                </a>
              </li>
               <li
                class="{% if 'ui-gatewaymetrics' in segment %} active {% endif %}"
              >
                <a href="/ui-gatewaymetrics.html">
                  <span class="sub-item">Metrics</span>
                </a>
              </li>
            </ul>
          </div>
         <!--AQUI-->
		   <li class="nav-item">
          <a data-toggle="collapse" href="#submenu">
            <i class="fab fa-connectdevelop"></i>
            <p>Nodes</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="submenu">
            <ul class="nav nav-collapse">
              <li>
                <a data-toggle="collapse" href="#subnav1">
                  <span class="sub-item">Node 1</span>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="subnav1">
                  <ul class="nav nav-collapse subnav">
                    <li>
                      <a href="/node1graphics.html">
                        <span class="sub-item">Graphics</span>
                      </a>
                    </li>
                    <li>
                      <a href="/node1metrics.html">
                        <span class="sub-item">Metrics</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <a data-toggle="collapse" href="#subnav2">
                  <span class="sub-item">Node 2</span>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="subnav2">
                  <ul class="nav nav-collapse subnav">
                    <li>
                      <a href="/node2graphics.html">
                        <span class="sub-item">Graphics</span>
                      </a>
					   <a href="/node2metrics.html">
                        <span class="sub-item">Metrics</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
        
            </ul>
          </div>
     
      {% endif %}
    </div>
  </div>
</div>
<!-- End Sidebar -->
